{% extends 'base.html.twig' %} {% block content %}
<div class="container">
  <h2 class="d-flex justify-content-center mt-3">Admin Page</h2>

  <section class="row mt-3 d-flex justify-content-center">
    {% for contact in contacts %}
    <article
      class="card border-0 mt-2 col-12 col-md-6 col-xl-3 mx-1"
      id="order-page-admin"
    >
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item mt-1">Contact name: {{ contact.name }}</li>
          <li class="list-group-item mt-1">
            Contact email: {{ contact.email }}
          </li>
          <li class="list-group-item mt-1">
            Contact query: {{ contact.message }}
          </li>
          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-primary mx-2">Reply</button>
            <a
              href="{{ path('delete_contact', { id: contact.id }) }}"
              class="btn btn-danger"
              >Delete</a
            >
          </div>
        </ul>
      </div>
    </article>
    {% endfor %}
    <div class="d-flex justify-content-center">
      <a class="btn button-style mt-3" href="{{ path('home') }}"
        >Back to Home</a
      >
    </div>
  </section>
  <h2 class="d-flex justify-content-center mt-5">Blog Update</h2>
  <section class="row mt-3">
    <form novalidate id="submit-form" method="post" action="">
      <div class="form-group">
        <label>Straipsnio numeris</label>
        <select class="form-control mb-3" name="article-slug">
          <option value="1">Article-1</option>
          <option value="2">Article-2</option>
          <option value="3">Article-3</option>
          <option value="4">Article-4</option>
          <option value="5">Article-5</option>
        </select>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          id="blog-title"
          class="form-control"
          placeholder="title"
          required
          name="article-title"
        />
        <label for="text">Straipsnio pavadinimas</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="date"
          id="date"
          class="form-control"
          placeholder="data"
          required
          name="article-date"
        />
        <label for="email">Data</label>
      </div>
      <div class="form-floating">
        <textarea
          type="text"
          id="blog-text"
          placeholder="Straipsnis"
          class="form-control t-area-style"
          required
          name="article-text"
        ></textarea>
        <label for="text">Straipsnis</label>
      </div>
      <input
        type="submit"
        value="Atnaujinti"
        class="btn button-style mt-3 mb-3"
        id="submit-form-button"
      />
    </form>
    {% if app.flashes('success')[0] is defined %}
    <div
      class="alert alert-dismissible alert-success d-flex align-items-center"
      role="alert"
      id="registraton-error"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Success:"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <div>Straipsnis buvo atnaujintas</div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <script>
      window.scrollTo(0, 5000);
    </script>
    {% endif %}
  </section>
</div>
{% endblock %}
