{% block navbar %}
<nav class="navbar navbar-expand-lg nav-style">
  <div class="container-xl">
    <a class="navbar-brand" href="#"
      ><img class="inline-block box-logo" src="/img_front/logo.png"
    /></a>

    <button
      class="navbar-toggler navbar-expand mb-3 mt-3 mx-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarTogglerDemo01"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" href="{{ path('home') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-1"
            aria-current="page"
            href="{{ path('admin') }}"
            >Admin</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-1"
            aria-current="page"
            href="{{ path('about-us') }}"
            >Apie Mus</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-1"
            aria-current="page"
            href="{{ path('services') }}"
            >Paslaugos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-1"
            aria-current="page"
            href="{{ path('careers') }}"
            >Karjera</a
          >
        </li>
        <li class="nav-item mx-1 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><img class="inline-block" src="" />Lietuvių</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#"
                ><div class="box">
                  <img class="img-fluid" src="./img_front/UK-Flag.png" />
                  English
                </div></a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><div class="box">
                  <img class="img-fluid" src="./img_front/DE-flag.png" />
                  Deutsch
                </div></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
